.button {
display: inline-block;
padding: 12px 24px;
font-size: 16px;
font-weight: bold;
text-decoration: none;
background-color: #4CAF50;
color: white;
border-radius: 4px;
border: none;
cursor: pointer;
                   }
             .button:hover {
background-color: #45a049;
                           }

             .center {
    margin: 0 auto; /* Выравнивание блока по центру */
    width: 640px; /* Ширина блока */
    line-height: 1px; /* Межстрочное расстояние */
                     }

             .rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin-right:300px /* Отступы вокруг картинки */
                        }
   
             .verse {
  display: table;
  margin-left: 170px; 
  white-space: pre-line; /* не нужен <br> */ 
  word-wrap: break-word; /* чтобы слова переносились на маленьком экране */ 
                    }
a {
  display: inline-block;
  margin-top:250px; margin-right:0px; margin-bottom:0px; margin-left:310px;
}

h1
{
	text-align: center;
}

p
{
	font-size:30px;
}

body
{
	background: aqua;
}